#annualSalaryTotalDisplay {

}

.formInput {
  float: left
  padding: 15px;
}

h1 {
    background-color: #5e7aa8;
    border: 1px solid black;
    text-align: center;
    padding: 25px;
    height: 50px;
}

h2 {

    border: 1px solid black;
    text-align: center;
    padding: 25px;
    height: 50px;
}

table {
  width: 100%;

}

table, th, td {
    border: 1px solid black;
}

th {
  background-color: #848484;
}

th, td {
    padding: 15px;
}

th, td {
    text-align: left;
}

tr:nth-child(even) {

  background: #cecece;

}

#td1 {
  background-color: #f1f1f1;
}

#td2 {

}

#employeeTableRow {

}

#submitFormIntro {
  background-color: #f1f1f1;
  width: 105px;
  margin-bottom: 15px;

}

#submitFormIntroAndPrompt {
  float: left;
}

#submitForm {
  float: left
}

#employeeTableIntro {
  background-color: #f1f1f1;
  width: 105px;
  margin-top: 15px;
  margin-bottom: 15px;

}
